.front-end,.back-end{
    display: none;
}

.skills-section{
    min-height:200vh ;
    min-width: 100vw;
    position: relative;
    display: block;
    
}
.face{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    overflow: none;
    height:100%;
    width: 100%;
    margin: 2rem 0;

}
.full{
    height: 100%;
    width: 100%;
    object-fit: cover;  
    display: block;
}
.skills-container-fluid{
    position: relative;
    display: block;
    
}
.back-end-skills >h1 span{
    color: rgb(0, 0, 0);
  
    -moz-text-fill-color: transparent;
    -moz-text-stroke-width:2px;
    
  }
